
<!-- Page Heading -->
	<div class="row">
    	<div class="col-lg-12">
        	<ol class="breadcrumb">
            	<li class="active">Relaciones de Procesos</li>
        	</ol>
    	</div>
	</div>

	<div class="col-md-12">
		<table id="table" class="table table-condensed table-hover table-bordered table-responsive">
		 	<thead>
		 		<th>#PROCESO</th>
		 		<th>CIUDAD</th>
		 		<th>NOMBRE</th>
		 		<th>RELACION</th>
				<th><i class="fa fa-pencil-square-o text-success"></i></th>
		 	</thead>
		 	<tbody>
		 		{% for relacion in relaciones  %}		 	
		 			<tr>
		 				<td>{{relacion.num_expediente}}</td>
		 				<td>{{relacion.ciudad}}</td>
		 				<td>{{relacion.nom_datos}}</td>
		 				<td>{{relacion.cargo}}</td>
		 				<td><button id="{{relacion.id_relacion_proceso}}" class="btn btn-link editProceso"><i class="fa fa-pencil-square-o text-success"></i></button></td>
					 </tr>										
		 		{% endfor %}
		 	</tbody>
		 </table>
	</div>

	 <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        tablas();
    });
    $('.editProceso').click(function(){ var id = $(this).attr('id'); cargarEditProceso(id); });
    $('.adjuntarArchivo').click(function(){ var id = $(this).attr('id'); cargarAdjuntarArchivo(id); });

    function tablas()
    {
    	$('#table').DataTable({
            responsive: true,
            "order": [[0, "desc"]],
					"language":{
					"lengthMenu": "Mostrar _MENU_ registros por pagina",
					"info": "Mostrando pagina _PAGE_ de _PAGES_",
						"infoEmpty": "No hay registros disponibles",
						"infoFiltered": "(filtrada de _MAX_ registros)",
						"loadingRecords": "Cargando...",
						"processing":     "Procesando...",
						"search": "Buscar:",
						"zeroRecords":    "No se encontraron registros coincidentes",
						"paginate": {
							"next":       "Siguiente",
							"previous":   "Anterior"
						},					
					},
        });
    }
    </script>